{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Src</th>
                <td><img class="card-img-top" src="{{ asset('img/' ~ product.src) }}" alt="product image " height="200px;" width="200px;"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('product_index') }}" class="btn btn-dark">back to list</a>

{% endblock %}
